*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor:#fff;
    ---textcolor:#050817;

}
.dark{
 
  
    --bgcolor:#050817;
    --textcolor:#fff;
}
body{
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.52;
}
.wrapper{
    display: flex;
    font-family: arial;
    align-items: center;
}

.wrapper h2{
   color: var(--textcolor);
    font-size: 80px;
    margin-right: 30px;
}

.togglerbtn{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
  
    overflow: hidden;
}
.togglerbtn span{
background-color: rgb(255, 219, 12);
display: block;
width: 100%;
height: 100%;
line-height: 40px;
font-size: 20px;
transition: 0.3s;
}
/*.togglerbtn:hover .sun{
 margin-top: -40px;
}

.togglerbtn .moon
{
    background-color: rgba(7, 1, 1, 0.918);
    color:white;
}